{
pub:	{
	IsDebug:1,
	LogPath:"d:\\config\\log\\install\\",
	CachePath:"d:\\config\\cache\\"
	},
setup:	{
	cSharp:	{
		tcpServer:
			{
			Poll:	{
				IsAsynchronous:true
				},
			tcpCallNoVerify:
				{
				Host:"127.0.0.1",
				Port:12700,
				IsCompress:true
				},
			tcpCallNoVerifyAsynchronous:
				{
				Host:"127.0.0.1",
				Port:12701,
				IsAsynchronous:true
				},
			tcpCallVerify:
				{
				Host:"127.0.0.1",
				Port:12702
				},
			tcpCallVerifyAsynchronous:
				{
				Host:"127.0.0.1",
				Port:12703,
				IsCompress:true,
				IsAsynchronous:true
				},
			tcpCallGenericType:
				{
				Host:"127.0.0.1",
				Port:12704
				},
			tcpServerNoVerify:
				{
				Host:"127.0.0.1",
				Port:12705,
				IsCompress:true
				},
			tcpServerNoVerifyAsynchronous:
				{
				Host:"127.0.0.1",
				Port:12706,
				IsAsynchronous:true
				},
			tcpServerVerify:
				{
				Host:"127.0.0.1",
				Port:12707
				},
			tcpServerVerifyAsynchronous:
				{
				Host:"127.0.0.1",
				Port:12708,
				IsCompress:true,
				IsAsynchronous:true
				},
			tcpServerGenericType:
				{
				Host:"127.0.0.1",
				Port:12709
				}
			}
		}
	}
}